* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.tamaño {
    width: 60px;
    height: 80px;
}

.color-blue {
    background: #2c01b8;
    color: #ffffff;
}


#quienes_somos {
    color: #ffffff;
}

.qs {
    background: #000000;
    color: #ffffff;
}

.dest {
    color: #ffffff;
}

.img-size {
    height: 250px;
}

.col-dest {
    background: #7ebbf1;
    color: #ffffff;
}

.form-color {
    color: #ffffff;
}

.color {
    background: #7ebbf1;
}

footer {
    background: #7ebbf1;
    color: #ffffff;
}